@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.songsContainer::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
  border-radius: 8px;
}

.songsContainer::-webkit-scrollbar-thumb {
  background-color: transparent;  border-radius: 8px;
}

.songsContainer:hover::-webkit-scrollbar-thumb{
  background-color: rgb(107, 144, 128);
}